@use 'base/mixins' as m;
@use 'base/variables' as v;

// .no-webp .inicio{
//     background-image: url(../img/header.jpg);
// }
.inicio{
    background-image: url(../img/header.webp);
}


.header {
    background-color: v.$grisOscuro;
    padding: 1rem 0 3rem;

    &.inicio{
        background-position: center center;
        background-size: cover;
        @include m.tablet{
            min-height: 50rem;
        }

        .contenido-header{
            @include m.tablet{
                min-height: 50rem;
            }
        }
    }
}

.contenido-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1{
        text-align: left;
        color: v.$blanco;
        font-weight: bold;
        line-height: 2;
        max-width: 40rem;
        font-size: 2.3rem;
    }
}
.barra {
    img{
            width: 30rem;
    }
}