@use 'base/mixins' as m;
@use 'base/variables' as v;


.derecha{
    display: flex;
    flex-direction: column;

    @include m.tablet{
        align-items: flex-end;
    }

    .dark-mode-boton{
        width: 3rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        filter: invert(100%);
        &:hover{
            cursor: pointer;
        }
        @include m.tablet{
            margin-top: 0;
        }
    }
}
.barra {
    display: flex;
    flex-direction: column;
    padding: 3rem 0;

    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

   
}

.navegacion {
    
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease-in-out, opacity 0.5s linear;
    @include m.tablet{
        display: flex;
        opacity: 1;
        visibility: visible;
        align-items: center;
    }
    a{
        color: v.$blanco;
        font-size: 2.2rem;
        display: block;
        text-align: center;
        @include m.tablet{
            margin-right: 2rem;
            font-size: 1.8rem;
    
            &:last-of-type{
                margin-right: 0;
            }
        }
    }

}

/*menu de hamburguesa*/

.mobile-menu {
    @include m.tablet{
        display: none;
    }
    img{
        width: 5rem;
    }
}

.mostrar{
    visibility: visible;
    opacity: 1;
}